<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:property-placeholder ignore-unresolvable="true" location="classpath:application.properties"/>

    <bean id="personService" class="PersonFactory"  factory-method="getPerson" />
    <bean id="personFactory" class="PersonFactory" />

    <bean id="keke" factory-bean="personFactory" factory-method="getKeKe" />
    <bean id="jun" factory-bean="personFactory" factory-method="getJun" />

    <bean id="alan" class="Person">
        <constructor-arg name="age" value="12"/>
        <constructor-arg name="name" value="alan"/>
        <constructor-arg name="address" value="japan"/>
    </bean>

    <bean id="jaja" class="Person">
        <property name="name" value="jaja" />
        <property name="age" value="16" />
        <property name="address" value="America" />
    </bean>


    <!--第一种实现方式-->
    <bean id="httpToolScannerConfigure" class="spring.HttpToolScannerConfigure">
        <property name="basePackage" value="demo.spring.rmi"></property>
        <property name="annotationClass" value="httpClient.annotation.HttpReq"></property>
        <property name="httpClientBeanName" value="httpClientRmi"></property>
        <property name="propertiesResolverName" value="propertiesResolver"></property>
    </bean>

    <bean id="httpClientRmi" class="httpClient.HttpClientRmi"></bean>
    <bean id="propertiesResolver" class="spring.PropertiesResolver"></bean>

</beans>